.main{
    background: #000;
    background: linear-gradient(to right, #161616, #000000);
    background-image: url(Images/logo.jpeg);
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center center; /* Centers the image */
    padding:200px 0;
    

}
.main_container{    
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
    
}
.heading{   
  font-size: 75px ;  
  margin-bottom: 24px;
  color: #333;
}

.heading2{
    font-size: 45px;
    /* margin: 24px; */
    color:#333  ;
}
.paragraph{
    font-size: 29px;
    color: #333;
}
@media screen and (max-width: 768px) {
  .heading {
    font-size: 60px;
  }

  .heading2 {
    font-size: 40px;
  }
}



